html {
    /* font-size: 10px;
    background: url("../img/background1.jpg") bottom center;
    background-size: cover; */
    /* filter: blur(1px); */
  }
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.wrapper {
    max-width: 100%;
	min-height: 100vh;	
	background-image: url(../img/background1.jpg);
    background-size: cover;
    display: flex;
  flex-direction: column;
  height: 100%;
    /* color: rgba(177,203,163,0.3) */ 
  }
 
h1 {
    align-items: center;
    font-size: 100px;
	margin: 0 auto;
    display: flex;
    height: 20%;
 }
 .content {
	display: flex;
    flex-direction: column;
 }
 .main {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgba(213, 233, 227, 0.3);
 }
 label {
    color: rgb(251, 255, 0);
    font-size: 20px;
    margin-bottom: 7px;
 }
 input {
     margin-bottom: 5px;
 }
 
 .res {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
 }

 p {
     color: rgb(251, 255, 0);
     display: inline-block;
     font-size: 20px;
     margin-top: 15px;
     margin-right: 10px;
     
 }
 .button {
    display: inline-block;
 }
 .footer {  
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:rgba(213, 233, 227, 0.3);
  }